.slider {
  width: 100%;
  max-width: 500px;
  padding: 40px;
}

.slider-value {
  margin-bottom: 24px;
  text-align: center;
}

.slider-track {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 6px;
  background: var(--green);
  border-radius: 999px;
  cursor: pointer;
}

.slider-ball {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid black;
}